.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__brand {
    &-title {
      margin: 0px;
      padding: 0px;
      color: var(--text-color);
      font-family: "Montserrat", sans-serif;
      font-size: 1.24rem;
      font-style: normal;
      font-weight: 500;

      span {
        color: var(--primary-color);
      }
    }
  }

  &__nav {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 24px;

    &-link {
      color: var(--text-color);
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out;

      &--selected {
        color: var(--primary-color);
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
