<div class="header standard-horizontal-padding">
  <div class="header__brand">
    <h1 class="header__brand-title">Foliogenie<span>.</span></h1>
  </div>
  <ul class="header__nav">
    <li class="header__nav-link">Home</li>
    <li class="header__nav-link">Services</li>
    <li class="header__nav-link">Community</li>
    <li class="header__nav-link">Blog</li>
  </ul>
  <div class="header__cta">
    <button class="btn btn--secondary">Sign In</button>
    <button class="btn btn--primary">Get Started</button>
  </div>
</div>
