<div class="header standard-horizontal-padding">
  <div class="header__brand">
    <h1 class="header__brand-title">Folio<span>Genie.</span></h1>
  </div>
  <ul class="header__nav">
    @for (item of menuItems; track $index) {
    <li
      class="header__nav-link"
      [routerLink]="item.link"
      [routerLinkActive]="['header__nav-link--selected']"
    >
      {{ item.label }}
    </li>

    }
  </ul>
  <div class="header__cta">
    <!-- <button class="btn btn--text">Sign In</button> -->
    <button class="btn btn--primary">Join the Beta</button>
  </div>
</div>
