<div class="hero standard-horizontal-padding">
  <!-- <p class="hero__pre-text">😎 Launch Your Career!</p> -->
  <h2 class="hero__title">
    Build Perfect<br />
    Resumes & Master Interviews.
  </h2>
  <p class="hero__description">
    Foliogenie provides personalized tools and expert guidance to help you reach
    your full potential.
  </p>
  <div class="hero__cta">
    <button class="btn btn--lg">Get Started for Free</button>
    <!-- <button class="btn btn--text btn--lg">Review Your Resume Now</button> -->
  </div>
</div>
