<div class="hero standard-horizontal-padding">
  <div class="hero__text">
    <p class="hero__text-pre">😎 Launch Your Career!</p>
    <h2 class="hero__text-title">
      Build Perfect<br /><span>Resumes & Master Interviews.</span>
    </h2>
    <p class="hero__text-description">
      Your one-stop platform to craft your career with expert guidance. Create
      ATS friendly resumes and ace your job interviews with AI-powered prep.
    </p>
    <div class="hero__text-cta">
      <button class="btn btn--lg">
        Book a Career Guidance Session for Free
      </button>
      <button class="btn btn--text btn--lg">Review Your Resume Now</button>
    </div>
  </div>
  <div class="hero__img"></div>
</div>
