.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  gap: 24px;
  background-color: rgba($color: #5271ff, $alpha: 0.24);
  background-image: url("/assets/images/pattern.png");
  background-repeat: repeat;
  background-size: 800px;

  &__pre-text {
    padding: 0px;
    margin: 0px;
    color: var(--primary-color);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__title {
    padding: 0px;
    margin: 0px;
    color: var(--text-color);
    font-size: 4.64rem;
    line-height: 5rem;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    font-family: "Just Another Hand", cursive;
    font-optical-sizing: auto;
    letter-spacing: 0.1em;
  }

  &__description {
    padding: 0px;
    margin: 0px;
    color: #161616;
    font-size: 1.24rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  &__cta {
    display: flex;
    gap: 24px;
    padding: 40px 0px 0px;
  }

  @media screen and (max-width: 1200px) {
    .hero__title {
      font-size: 3.64rem;
      line-height: 4rem;
    }
    .hero__description {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 992px) {
    padding-top: 80px;
    padding-bottom: 80px;
    .hero__title {
      font-size: 3.24rem;
      line-height: 3.64rem;
    }
  }
}
