<div class="services standard-horizontal-padding">
  <!-- <h3 class="section-title">What <span>We Do...</span></h3> -->
  <div class="services__list">
    @for (service of services; track $index) {
    <div class="services__list-item">
      <div class="services__list-item__text">
        <button class="services__list-item__text-cta">Content Ideation</button>
        <h4 class="services__list-item__text-title">
          {{ service.title }}
        </h4>
        <p class="services__list-item__text-description">
          {{ service.description }}
        </p>
        <ul class="services__list-item__text-points">
          <li>
            ✅ Dummy Point One
          </li>
          <li>
            ✅ Dummy Point Two
          </li>
          <li>
            ✅ Dummy Point Three
          </li>
        </ul>
      </div>
      <div class="services__list-item__img">
        <img src="https://picsum.photos/id/237/200/300" alt="{{ service.title }}" />
      </div>

    </div>
    }
  </div>
</div>