.services {
  padding-top: 80px;
  padding-bottom: 80px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 80px;

    &-item {
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: center;

      &__text {
        flex: 1;
        padding: 24px;
        max-width: 500px;

        &-cta {
          padding: 10px 20px;
          margin-bottom: 28px;
          border-radius: 8px;
          border: none;
          background-color: #f2f2f2;
          font-family: "Montserrat", sans-serif;
          font-size: 0.8rem;
          font-weight: 600;
          color: #4f4f4f;

          &:hover {
            background-color: #e0e0e0;
            cursor: pointer;
          }
        }

        &-title {
          font-family: "Montserrat", sans-serif;
          color: var(--text-color);
          font-size: 1.5rem;
          font-weight: 600;
          margin: 0px 0px 24px;
        }

        &-description {
          font-family: "Montserrat", sans-serif;
          padding: 0px;
          margin: 0px;
          color: #4f4f4f;
          font-size: 1rem;
          line-height: 1.5;
          font-weight: 400;
        }

        &-points {
          padding: 0px;
          margin: 0px;
          list-style: none;
          li {
            font-family: "Montserrat", sans-serif;
            font-size: 1rem;
            position: relative;
            margin: 0px;
            padding: 0px;
            margin-top: 16px;
            color: #4f4f4f;
          }
        }
      }

      &__img {
        padding: 24px;
        flex: 1;
        max-width: 500px;
        max-height: 500px;
        aspect-ratio: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 40px;
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }
}
