$primaryColor: #5271ff;
$primaryDark: #1f47ff;
$secondaryColor: #ffffff;
$textColor: rgb(22, 22, 22);
$accentColor: #ff5271;
$accentDark: #ff1f47;

:root {
  --primary-color: #5271ff;
  --primary-dark: #1f47ff;
  --secondary-color: #ffffff;
  --text-color: rgb(22, 22, 22);
  --accent-color: #ff5271;
  --accent-dark: #ff1f47;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--secondary-color);
}

.standard-horizontal-padding {
  padding: 0px 12%;
}

.btn {
  padding: 10px 24px;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--primary-dark);
  }

  &--secondary {
    border-color: transparent;
    background-color: rgba($color: $primaryColor, $alpha: 0.24);
    color: $primaryColor;

    &:hover {
      background-color: rgba($color: $primaryDark, $alpha: 0.24);
      border-color: rgba($color: $textColor, $alpha: 0.24);
    }
  }

  &--text {
    background-color: transparent;
    color: var(--text-color);
    border-color: transparent;
    text-decoration: underline;
    transition: color 0.3s;

    &:hover {
      background-color: transparent;
      color: var(--primary-dark);
    }
  }

  &--lg {
    height: auto;
    border-radius: 8px;
    padding: 16px 56px;
    font-size: 1.24rem;
  }
}

.section-title {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-size: 2.5rem !important;
  font-weight: 600 !important;
  margin: 80px 0px !important;
  text-align: center;

  span {
    color: var(--primary-color);
  }
}

@media screen and (max-width: 1200px) {
  .standard-horizontal-padding {
    padding: 0px 8%;
  }
  .btn{
    font-size: 0.8rem;
    &--lg {
      font-size: 1rem;
    }
  }
}
