$primaryColor: #5271ff;
$primaryDark: #1f47ff;
$secondaryColor: #f0f8ff;
$textColor: #101720;
$accentColor: #ff5271;
$accentDark: #ff1f47;

:root {
  --primary-color: #5271ff;
  --primary-dark: #1f47ff;
  --secondary-color: #f0f8ff;
  --text-color: #101720;
  --accent-color: #ff5271;
  --accent-dark: #ff1f47;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: var(--secondary-color);
}

.standard-horizontal-padding {
  padding: 0px 6%;
}

.btn {
  height: 40px;
  padding: 9px 24px;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-dark);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--primary-dark);
  }

  &--secondary {
    border-color: transparent;
    background-color: rgba($color: $primaryColor, $alpha: 0.24);
    color: $primaryColor;
    &:hover {
      background-color: rgba($color: $primaryDark, $alpha: 0.24);
      border-color: rgba($color: $primaryColor, $alpha: 0.24);
    }
  }

  &--text {
    background-color: transparent;
    color: var(--text-color);
    border-color: transparent;
    text-decoration: underline;
    transition: color 0.3s;
    &:hover {
      background-color: transparent;
      color: var(--primary-color);
    }
  }

  &--lg {
    height: 56px;
    border-radius: 28px;
  }
}
